/* line 13, ../scss/websheet.scss */
body {
  width: 775px;
  padding: 25px 25px 25px 50px;
  font-size: 16px;
  font-family: arial;
  margin: 25px auto;
  border: 1px dotted green;
  height: 1100px;
}

/* line 27, ../scss/websheet.scss */
.heading {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 33, ../scss/websheet.scss */
.heading .name {
  float: left;
  height: 38px;
  line-height: 38px;
  width: 258px;
  text-align: center;
  font-size: 24px;
  border: 3px double black;
  border-right: none;
  margin-top: 18px;
}
/* line 51, ../scss/websheet.scss */
.heading .summary {
  float: left;
  padding: 5px;
  width: 501px;
  border: 1px solid black;
  border-radius: 5px;
}
/* line 60, ../scss/websheet.scss */
.heading .summary .summary-top,
.heading .summary .summary-bottom {
  float: left;
  width: 516px;
}
/* line 67, ../scss/websheet.scss */
.heading .summary .summary-top {
  margin-bottom: 2px;
}
/* line 72, ../scss/websheet.scss */
.heading .summary .class,
.heading .summary .background,
.heading .summary .player,
.heading .summary .race,
.heading .summary .alignment,
.heading .summary .xp {
  float: left;
  width: 167px;
}
/* line 81, ../scss/websheet.scss */
.heading .summary .class .value,
.heading .summary .background .value,
.heading .summary .player .value,
.heading .summary .race .value,
.heading .summary .alignment .value,
.heading .summary .xp .value {
  border-bottom: 1px solid black;
}
/* line 85, ../scss/websheet.scss */
.heading .summary .class .label,
.heading .summary .background .label,
.heading .summary .player .label,
.heading .summary .race .label,
.heading .summary .alignment .label,
.heading .summary .xp .label {
  font-size: 12px;
}

/* line 93, ../scss/websheet.scss */
.details {
  clear: left;
  width: 775px;
}
/* line 99, ../scss/websheet.scss */
.details td {
  vertical-align: top;
  width: 33%;
}
/* line 104, ../scss/websheet.scss */
.details td.left, .details td.center {
  border-right: 10px solid transparent;
}
/* line 112, ../scss/websheet.scss */
.details td.left .attributes,
.details td.left .modifiers {
  float: left;
}
/* line 118, ../scss/websheet.scss */
.details td.left .attributes {
  width: 66px;
  margin-right: 10px;
}
/* line 124, ../scss/websheet.scss */
.details td.left .attributes .attribute {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}
/* line 131, ../scss/websheet.scss */
.details td.left .attributes .attribute .label,
.details td.left .attributes .attribute .modifier,
.details td.left .attributes .attribute .score {
  text-align: center;
}
/* line 138, ../scss/websheet.scss */
.details td.left .attributes .attribute .label {
  padding-top: 5px;
  font-size: 12px;
}
/* line 144, ../scss/websheet.scss */
.details td.left .attributes .attribute .modifier {
  font-size: 32px;
  line-height: 52px;
  height: 69px;
}
/* line 150, ../scss/websheet.scss */
.details td.left .attributes .attribute .score {
  border: 1px solid black;
  border-radius: 15px;
  position: absolute;
  width: 30px;
  height: 20px;
  bottom: -10px;
  background: white;
  left: 18px;
  line-height: 20px;
}
/* line 164, ../scss/websheet.scss */
.details td.left .modifiers {
  width: 166px;
}
/* line 169, ../scss/websheet.scss */
.details td.left .modifiers .inspiration,
.details td.left .modifiers .pb {
  float: left;
  clear: left;
}
/* line 175, ../scss/websheet.scss */
.details td.left .modifiers .inspiration .value,
.details td.left .modifiers .pb .value {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 184, ../scss/websheet.scss */
.details td.left .modifiers .inspiration .label,
.details td.left .modifiers .pb .label {
  float: left;
  padding: 3px;
  margin-top: 5px;
  border: 1px solid black;
  border-left: none;
  font-size: 12px;
  width: 126px;
  text-align: center;
}
/* line 197, ../scss/websheet.scss */
.details td.left .modifiers .pb {
  margin-top: 10px;
  position: relative;
}
/* line 202, ../scss/websheet.scss */
.details td.left .modifiers .pb .value {
  border-radius: 15px;
}
/* line 206, ../scss/websheet.scss */
.details td.left .modifiers .pb .label {
  left: 28px;
  position: absolute;
  padding-left: 6px;
}
/* line 214, ../scss/websheet.scss */
.details td.left .modifiers .saving-throws,
.details td.left .modifiers .skills {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  clear: left;
  float: left;
  padding-bottom: 6px;
}
/* line 225, ../scss/websheet.scss */
.details td.left .modifiers .saving-throws td.proficiency,
.details td.left .modifiers .skills td.proficiency {
  width: 10px;
  padding-right: 3px;
}
/* line 231, ../scss/websheet.scss */
.details td.left .modifiers .saving-throws td.proficiency input,
.details td.left .modifiers .skills td.proficiency input {
  margin: 2px 0 0 0;
}
/* line 236, ../scss/websheet.scss */
.details td.left .modifiers .saving-throws td.value,
.details td.left .modifiers .skills td.value {
  width: 15px;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 12px;
  text-align: right;
}
/* line 244, ../scss/websheet.scss */
.details td.left .modifiers .saving-throws td.label,
.details td.left .modifiers .skills td.label {
  padding-left: 3px;
  width: auto;
  font-size: 12px;
}
/* line 253, ../scss/websheet.scss */
.details td.left .pas-prc {
  margin-top: 5px;
  position: relative;
  float: left;
  clear: left;
}
/* line 260, ../scss/websheet.scss */
.details td.left .pas-prc .value {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
}
/* line 270, ../scss/websheet.scss */
.details td.left .pas-prc .label {
  padding: 3px;
  margin-top: 8px;
  border: 1px solid black;
  border-left: none;
  text-align: center;
  left: 38px;
  position: absolute;
  width: 196px;
  padding-left: 6px;
}
/* line 285, ../scss/websheet.scss */
.details td .proficiencies {
  margin-top: 10px;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
/* line 293, ../scss/websheet.scss */
.details td .proficiencies .proficiency {
  margin-top: 5px;
}
/* line 296, ../scss/websheet.scss */
.details td .proficiencies .proficiency .label {
  font-weight: 700;
}
/* line 301, ../scss/websheet.scss */
.details td .proficiencies .proficiency:first-of-type {
  margin-top: 0;
}
/* line 309, ../scss/websheet.scss */
.details td.center .defense,
.details td.center .hp,
.details td.center .thp,
.details td.center .life {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
/* line 320, ../scss/websheet.scss */
.details td.center .defense .stat {
  float: left;
  width: 74.66667px;
  height: 80px;
  border: 1px solid black;
  border-radius: 5px;
}
/* line 328, ../scss/websheet.scss */
.details td.center .defense .stat.ac, .details td.center .defense .stat.ini {
  margin-right: 5px;
}
/* line 333, ../scss/websheet.scss */
.details td.center .defense .stat.ac {
  border-radius: 10px 10px 50px 50px;
}
/* line 336, ../scss/websheet.scss */
.details td.center .defense .stat.ac .value {
  line-height: 40px;
  padding-top: 10px;
}
/* line 341, ../scss/websheet.scss */
.details td.center .defense .stat.ac .label {
  width: 44.66667px;
  margin: 0 auto 10px auto;
}
/* line 348, ../scss/websheet.scss */
.details td.center .defense .stat .value,
.details td.center .defense .stat .label {
  text-align: center;
}
/* line 353, ../scss/websheet.scss */
.details td.center .defense .stat .value {
  font-size: 24px;
  line-height: 60px;
}
/* line 358, ../scss/websheet.scss */
.details td.center .defense .stat .label {
  font-size: 12px;
}
/* line 364, ../scss/websheet.scss */
.details td.center .hp,
.details td.center .thp {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
}
/* line 371, ../scss/websheet.scss */
.details td.center .hp .label,
.details td.center .thp .label {
  text-align: center;
  font-size: 12px;
}
/* line 377, ../scss/websheet.scss */
.details td.center .hp {
  border-radius: 5px 5px 0 0;
}
/* line 382, ../scss/websheet.scss */
.details td.center .hp .max .label,
.details td.center .hp .max .value {
  display: inline-block;
  font-size: 12px;
}
/* line 389, ../scss/websheet.scss */
.details td.center .hp .max .value {
  width: 119px;
  margin-left: 5px;
  padding-left: 5px;
  border-bottom: 1px solid gray;
}
/* line 398, ../scss/websheet.scss */
.details td.center .hp .space {
  height: 60px;
}
/* line 403, ../scss/websheet.scss */
.details td.center .thp {
  border-radius: 0 0 5px 5px;
}
/* line 407, ../scss/websheet.scss */
.details td.center .thp .space {
  height: 40px;
}
/* line 412, ../scss/websheet.scss */
.details td.center .life {
  margin-top: 10px;
  box-sizing: inherit;
}
/* line 417, ../scss/websheet.scss */
.details td.center .life .hd,
.details td.center .life .ds {
  width: 105px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  float: left;
}
/* line 426, ../scss/websheet.scss */
.details td.center .life .hd .label,
.details td.center .life .ds .label {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
/* line 433, ../scss/websheet.scss */
.details td.center .life .hd {
  margin-right: 10px;
}
/* line 439, ../scss/websheet.scss */
.details td.center .life .hd .max .label,
.details td.center .life .hd .max .value {
  width: inherit;
  float: left;
  font-size: 12px;
}
/* line 446, ../scss/websheet.scss */
.details td.center .life .hd .max .value {
  padding-left: 5px;
  margin-left: 5px;
  width: 60px;
  border-bottom: 1px solid black;
  text-align: left;
}
/* line 455, ../scss/websheet.scss */
.details td.center .life .hd .space {
  height: 40px;
}
/* line 459, ../scss/websheet.scss */
.details td.center .life .hd .label {
  float: left;
  clear: left;
}
/* line 467, ../scss/websheet.scss */
.details td.center .life .ds .success,
.details td.center .life .ds .failure,
.details td.center .life .ds .label {
  float: left;
  clear: left;
}
/* line 474, ../scss/websheet.scss */
.details td.center .life .ds .success,
.details td.center .life .ds .failure {
  margin-bottom: 4px;
}
/* line 478, ../scss/websheet.scss */
.details td.center .life .ds .success .label,
.details td.center .life .ds .success input,
.details td.center .life .ds .failure .label,
.details td.center .life .ds .failure input {
  float: left;
}
/* line 483, ../scss/websheet.scss */
.details td.center .life .ds .success .label,
.details td.center .life .ds .failure .label {
  line-height: 16px;
  width: 50px;
  text-align: left;
}
/* line 489, ../scss/websheet.scss */
.details td.center .life .ds .success input,
.details td.center .life .ds .failure input {
  margin: 2px 0 0 0;
}
/* line 493, ../scss/websheet.scss */
.details td.center .life .ds .success .dash,
.details td.center .life .ds .failure .dash {
  display: block;
  float: left;
  border-bottom: 1px solid black;
  width: 5px;
  height: 1px;
  margin: 7px 1px 0 0;
}
/* line 505, ../scss/websheet.scss */
.details td.center .atk {
  float: left;
  clear: left;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}
/* line 515, ../scss/websheet.scss */
.details td.center .atk .Weapons {
  width: 100%;
}
/* line 518, ../scss/websheet.scss */
.details td.center .atk .Weapons th {
  font-size: 12px;
}
/* line 522, ../scss/websheet.scss */
.details td.center .atk .Weapons td.weapon {
  font-size: 1vw;
}
/* line 526, ../scss/websheet.scss */
.details td.center .atk .Weapons td.bonus,
.details td.center .atk .Weapons td.damage {
  text-align: right;
}
/* line 532, ../scss/websheet.scss */
.details td.center .atk .space {
  float: left;
  clear: left;
  height: 138px;
}
/* line 538, ../scss/websheet.scss */
.details td.center .atk .label {
  float: left;
  clear: left;
  width: 100%;
  text-align: center;
}
/* line 546, ../scss/websheet.scss */
.details td.center .equipment {
  float: left;
  clear: left;
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
/* line 557, ../scss/websheet.scss */
.details td.center .equipment .coins {
  float: left;
  position: absolute;
  left: -8px;
}
/* line 564, ../scss/websheet.scss */
.details td.center .equipment .coins .coin {
  float: left;
  clear: left;
  width: 100%;
  margin-top: 15px;
  background-color: white;
  position: relative;
}
/* line 573, ../scss/websheet.scss */
.details td.center .equipment .coins .coin .label {
  font-size: 12px;
  width: auto;
  float: left;
  border-right: 1px solid black;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 2px 5px 2px 2px;
}
/* line 586, ../scss/websheet.scss */
.details td.center .equipment .coins .coin .amount {
  border: 1px solid black;
  border-radius: 10px;
  float: left;
  width: 45px;
  text-align: center;
  padding: 4px;
  position: absolute;
  left: 18px;
  top: -4px;
}
/* line 602, ../scss/websheet.scss */
.details td.center .equipment .space {
  float: left;
  height: 200px;
  margin-left: 70px;
}
/* line 609, ../scss/websheet.scss */
.details td.center .equipment .label {
  float: left;
  clear: left;
  width: 100%;
  text-align: center;
}
