/* line 3, ../scss/character.scss */
#character_summary {
  clear: left;
  margin-left: 20px;
  padding-top: 10px;
}
/* line 8, ../scss/character.scss */
#character_summary .group {
  float: left;
  width: 200px;
}

/* line 17, ../scss/character.scss */
#character_form .field_group {
  width: auto;
}
/* line 20, ../scss/character.scss */
#character_form .field_group .field.submit {
  clear: none;
  margin: 20px 0 0 10px;
}
/* line 26, ../scss/character.scss */
#character_form .field_group.header_upper {
  float: left;
  clear: left;
  width: 600px;
}
/* line 32, ../scss/character.scss */
#character_form .field_group.header_upper .field {
  margin-right: 10px;
  float: left;
  clear: none;
}
/* line 39, ../scss/character.scss */
#character_form .field_group.header_lower {
  float: left;
  clear: left;
  width: 600px;
}
/* line 45, ../scss/character.scss */
#character_form .field_group.header_lower .field {
  margin-right: 10px;
  float: left;
  clear: none;
}
/* line 52, ../scss/character.scss */
#character_form .field_group.abilities_group {
  clear: left;
  padding-right: 10px;
}
/* line 57, ../scss/character.scss */
#character_form .field_group.abilities_group .markup {
  width: 100%;
  box-sizing: border-box;
}
/* line 61, ../scss/character.scss */
#character_form .field_group.abilities_group .markup .markup-value {
  width: 100%;
  box-sizing: border-box;
}
/* line 66, ../scss/character.scss */
#character_form .field_group.abilities_group .markup .markup-value table {
  width: 100%;
  box-sizing: border-box;
}

/* line 81, ../scss/character.scss */
#character_wizard_skills_form div.radio .heading {
  display: block;
  font-weight: 700;
}
/* line 86, ../scss/character.scss */
#character_wizard_skills_form div.radio .radio-option {
  display: inline-block;
  margin-right: 5px;
}
/* line 92, ../scss/character.scss */
#character_wizard_skills_form div.radio .radio-option input {
  clear: none;
}
