/* line 3, ../scss/form.scss */
.field_group {
  float: left;
  width: 250px;
  margin-left: 20px;
}

/* line 10, ../scss/form.scss */
.field {
  float: left;
  clear: left;
  margin-top: 10px;
}
/* line 16, ../scss/form.scss */
.field label,
.field input,
.field select,
.field textarea {
  float: left;
}
/* line 24, ../scss/form.scss */
.field input,
.field select,
.field textarea {
  clear: left;
}
