/* line 3, ../scss/form.scss */
.field {
  float: left;
  clear: left;
}
/* line 8, ../scss/form.scss */
.field label,
.field input {
  float: left;
}
/* line 14, ../scss/form.scss */
.field input {
  clear: left;
}
