/* line 5, ../scss/item.scss */
.print-card.item .name {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #D4B26A;
  padding: 5px;
}
/* line 14, ../scss/item.scss */
.print-card.item .abilities {
  height: 18px;
  background-color: #FFE3AA;
  padding: 5px;
}
/* line 20, ../scss/item.scss */
.print-card.item .abilities .type,
.print-card.item .abilities .magic,
.print-card.item .abilities .attunement {
  float: left;
}
/* line 26, ../scss/item.scss */
.print-card.item .abilities .type {
  width: 130px;
}
/* line 30, ../scss/item.scss */
.print-card.item .abilities .value {
  float: right;
  text-align: right;
}
/* line 36, ../scss/item.scss */
.print-card.item .description {
  clear: left;
  float: left;
  padding: 5px;
}

/* line 48, ../scss/item.scss */
#items .items {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 2px solid #553900;
  padding-top: 5px;
}
/* line 55, ../scss/item.scss */
#items .items .item {
  float: left;
  clear: left;
  min-width: 200px;
  border-bottom: 2px solid #838383;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* line 70, ../scss/item.scss */
table.item-print-list .column-3 {
  width: 100px;
  text-align: right;
}

/* line 79, ../scss/item.scss */
#item_form h1, #item_form .field.submit {
  float: left;
  margin: 10px 0 0 0;
}
/* line 84, ../scss/item.scss */
#item_form .field.submit {
  clear: none;
  margin: 15px 0 0 10px;
}
/* line 89, ../scss/item.scss */
#item_form .base_group {
  clear: left;
}
/* line 93, ../scss/item.scss */
#item_form .field_group {
  width: 300px;
  margin-right: 10px;
}
/* line 98, ../scss/item.scss */
#item_form .field_group input, #item_form .field_group select, #item_form .field_group textarea {
  max-width: 300px;
  box-sizing: border-box;
}
/* line 108, ../scss/item.scss */
#item_form .magic_group .field.rarity_id, #item_form .magic_group .field.bonus, #item_form .magic_group .field.attunement, #item_form .magic_group .field.attunement_requirements {
  display: none;
}
/* line 117, ../scss/item.scss */
#item_form .weapon_group, #item_form .armor_group {
  display: none;
}
