/* line 5, ../scss/item.scss */
.print-card.item .name {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #D4B26A;
  padding: 5px;
}
/* line 14, ../scss/item.scss */
.print-card.item .abilities {
  height: 18px;
  background-color: #FFE3AA;
  padding: 5px;
}
/* line 20, ../scss/item.scss */
.print-card.item .abilities .type,
.print-card.item .abilities .magic,
.print-card.item .abilities .attunement {
  float: left;
}
/* line 26, ../scss/item.scss */
.print-card.item .abilities .type {
  width: 130px;
}
/* line 30, ../scss/item.scss */
.print-card.item .abilities .value {
  float: right;
  text-align: right;
}
/* line 36, ../scss/item.scss */
.print-card.item .description {
  clear: left;
  float: left;
  padding: 5px;
}

/* line 48, ../scss/item.scss */
#items .items {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 2px solid #553900;
  padding-top: 5px;
}
/* line 55, ../scss/item.scss */
#items .items .item {
  float: left;
  clear: left;
  min-width: 200px;
  border-bottom: 2px solid #838383;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* line 70, ../scss/item.scss */
table.item-print-list .column-3 {
  width: 100px;
  text-align: right;
}
