/* line 3, ../scss/page.scss */
* {
  font-family: arial, helvetica, sans-serif;
}

/* line 8, ../scss/page.scss */
body {
  font-size: 14px;
}

/* line 13, ../scss/page.scss */
h1 {
  font-size: 36px;
}
/* line 17, ../scss/page.scss */
h1.debug {
  color: rosybrown;
}

/* line 23, ../scss/page.scss */
a {
  text-decoration: none;
  color: blue;
}

/* line 29, ../scss/page.scss */
table {
  font-size: 14px;
  border-collapse: collapse;
}
/* line 33, ../scss/page.scss */
table th, table td {
  border: 1px solid black;
  padding: 2px 3px;
}

/* line 43, ../scss/page.scss */
.menu a,
.operations a {
  margin-left: 10px;
}
/* line 47, ../scss/page.scss */
.menu a:first-of-type,
.operations a:first-of-type {
  margin: auto;
}
