@import "_constants.scss";

#character_form
{
  .field_group
  {
    &.header_name
    {
      //height: 200px;
    }
    &.header_upper
    {
      float: left;
      clear: left;
      width: 600px;

      .field
      {
        margin-right: 10px;
        float: left;
        clear: none;
      }
    }
    &.header_lower
    {
      float: left;
      clear: left;
      width: 600px;

      .field
      {
        margin-right: 10px;
        float: left;
        clear: none;
      }
    }
    &.attributes_group
    {
      clear: left;
    }
    //&.header_
    //{
    //  width: 100%;
    //
    //  .field
    //  {
    //    clear: none;
    //    margin-right: 10px;
    //    &.name
    //    {
    //      height: 150px;
    //    }
    //
    //    //&.classes,
    //    //&.race_id
    //    //{
    //    //  clear: left;
    //    //}
    //  }
    //}
  }
}