@import "_constants.scss";

#character_summary
{
  clear: left;
  margin-left: 20px;
  padding-top: 10px;
  .group
  {
    float: left;
    width: 200px;
  }
}

#character_form
{
  .field_group
  {
    &.header_name
    {
      //height: 200px;
    }
    &.header_upper
    {
      float: left;
      clear: left;
      width: 600px;

      .field
      {
        margin-right: 10px;
        float: left;
        clear: none;
      }
    }
    &.header_lower
    {
      float: left;
      clear: left;
      width: 600px;

      .field
      {
        margin-right: 10px;
        float: left;
        clear: none;
      }
    }
    &.abilities_group
    {
      clear: left;
      padding-right: 10px;

      .markup
      {
        width: 100%;
        box-sizing: border-box;
        .markup-value
        {
          width: 100%;
          box-sizing: border-box;

          table
          {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}