@import "_constants.scss";

.field
{
  float: left;
  clear: left;
  margin-top: 10px;

  label,
  input,
  select,
  textarea
  {
    float: left;
  }

  input,
  select,
  textarea
  {
    clear: left;
  }
}
