@import "_constants.scss";


.print-card.item
{
  .name
  {
    text-align: center;
    font-weight: bold;
    font-size: $font_large;
    background-color: $color_light_brown;
    padding: 5px;
  }

  .abilities
  {
    height: 18px;
    background-color: $color_tan;
    padding: 5px;

    .type,
    .magic,
    .attunement
    {
      float: left;
    }
    .type
    {
      width: 130px;
    }
    .value
    {
      float: right;
      text-align: right;
    }
  }
  .description
  {
    clear: left;
    float: left;
    // width: 100%;
    padding: 5px;
  }
}

// Item List Page.
#items
{
  .items
  {
    margin-left: 20px;
    margin-right: 20px;
    border-top: 2px solid $color_brown;
    padding-top: 5px;

    .item
    {
      float: left;
      clear: left;

      min-width: 200px;
      border-bottom: 2px solid $color_grey;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}

table.item-print-list
{
  .column-3
  {
    width: 100px;
    text-align: right;
  }
}

#item_form
{
  h3
  {
    margin: 0;
  }
  h1, .field.submit
  {
    float: left;
    margin: 10px 0 0 0;
  }
  .field.submit
  {
    clear: none;
    margin: 15px 0 0 10px;
  }
  .base_group
  {
    clear: left;
  }
  .field_group
  {
    width: 300px;
    margin-right: 10px;

    input, select, textarea
    {
      max-width: 300px;
      box-sizing: border-box;
    }
  }
  .magic_group
  {
    .field
    {
      &.rarity_id,
      &.bonus,
      &.attunement,
      &.attunement_requirements
      {
        display: none;
      }
    }
  }
  .weapon_group, .armor_group
  {
    display: none;
  }
  .damage_group
  {
    .damage_buttons
    {
      float: right;
      clear: none;
    }
    .damage_table,
    .damage_table table
    {
      width: 100%;
      box-sizing: border-box;
    }
  }
}