@import "_constants.scss";

.print-card.item
{
  .name
  {
    text-align: center;
    font-weight: bold;
    font-size: $font_large;
    background-color: $color_light_brown;
    padding: 5px;
  }

  .attributes
  {
    height: 18px;
    background-color: $color_tan;
    padding: 5px;

    .type,
    .magic,
    .attunement
    {
      float: left;
    }
    .type
    {
      width: 130px;
    }
    .value
    {
      float: right;
      text-align: right;
    }
  }
  .description
  {
    clear: left;
    float: left;
    // width: 100%;
    padding: 5px;
  }
}

table.item-list
{
  .column-1
  {
    width: 200px;
  }
  .column-2
  {
    width: 100px;
  }
  .column-2,
  .column-3
  {
    text-align: right;
  }
}

table.item-print-list
{
  .column-3
  {
    width: 100px;
    text-align: right;
  }
}
