@import "_constants.scss";

*
{
  font-family: arial, helvetica, sans-serif;
}

body
{
  font-size: $font_normal;
  margin: 0;
}

h1
{
  font-size: $font_huge;

  &.debug
  {
    color: rosybrown;
  }
}

a
{
  text-decoration: none;
  color: blue;
}

table
{
  font-size: $font_normal;
  border-collapse: collapse;
  th, td
  {
    border: 1px solid black;
    padding: 2px 3px;
  }
}

#menu
{
  width: 100%;
  //height: 25px;
  background-color: $color_tan;
  font-size: $font_large;

  a
  {
    display: inline-block;
    margin: 5px;
  }
}

.operations
{
  a
  {
    margin-left: 10px;

    &:first-of-type
    {
      margin: auto;
    }
  }
}

table.print-list
{
  .column-1
  {
    width: 100px;

    input.button
    {
      width: 30px;
    }

    input.plus,
    input.minus
    {
      width: 22px;
      margin-left: 2px;
    }
  }
  .column-2
  {
    width: 200px;
  }
}

.print-card
{
  // 247px x 350px - Too tall but desired.
  // 222px x 315px - 8 in landscape but only 6 in portrait.
  // 212px x 300px - Too short but works.
  width: 212px;
  height: 300px;
  float: left;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

  page-break-inside: avoid;
}