@import "_constants.scss";

*
{
  font-family: arial, helvetica, sans-serif;
}

body
{
  font-size: $font_normal;
}

h1
{
  font-size: $font_huge;

  &.debug
  {
    color: rosybrown;
  }
}

a
{
  text-decoration: none;
  color: blue;
}

table
{
  font-size: $font_normal;
  border-collapse: collapse;
  th, td
  {
    border: 1px solid black;
    padding: 2px 3px;
  }
}

.menu,
.operations
{
  a
  {
    margin-left: 10px;

    &:first-of-type
    {
      margin: auto;
    }
  }
}